/* 为修改 vscode 右上角图标显示与否，插件 custom css and js*/
.editor-actions {
  display: none !important;
}

[title="Open Preview to the Side"] {
  display: none !important;
}

.menu-item-action-item-icon-1,
.menu-item-action-item-icon-2 {
  display: none !important;
}